<h1>Hello world</h1>

<app-search [(bob)]="searchText" />
<input type="text" [(ngModel)]="searchText">
{{searchText}}

<h2>Average Mark: {{ marks | averageMark | number: '1.2-2' }}%</h2>

<app-render-seasons />

<button (click)="isSeasonListShown = !isSeasonListShown">{{isSeasonListShown ? 'Hide' : 'Show'}} Season List</button>
@if (isSeasonListShown) {
  <app-seasons-list/>
}

<h2>Users:</h2>
<ul>
  @for (user of userNames; track user) {
    <li>
      {{user}}
      @if (isUserAdmin) {
        <button>DELETE</button>
      } @else {
        <button>Request removal</button>
      }
    </li>
  } @empty {
    <li>No Users</li>
  }
</ul>

<app-genre [genreName]="genre" *ngFor="let genre of genres" />

<h2>My Favourite Shows:</h2>
<ul>
  <ng-container *ngIf="series.length; else noSeries">
    <li *ngFor="let show of series">{{show}}</li>
  </ng-container>
  <ng-template #noSeries>
    <li>No Series in Favourites</li>
  </ng-template>
</ul>

<app-clothes />

<app-comic />
